
* {
    padding: 0;
    margin: 0;    
    text-align: justify;
    text-decoration: none;
    font-family: arial, sans-serif;
    font-size: 20px !important;
    list-style: none;    
    box-shadow: none !important;
}

h1,h2,h3,h4,h5,h6 {
    text-align: left;
    margin-top: 1em !important;
}

span.mjx-chtml.MathJax_CHTML, span.mjx-chtml.MJXc-display
{
    white-space: nowrap;
    overflow-x: auto !important;
    overflow-y: hidden !important;
    max-width: 720px !important;
}

h1:before {vertical-align: sub;font-size: 30px;content: "* ";}
h2:before {vertical-align: sub;font-size: 30px;content: "* ";}
h3:before {vertical-align: sub;font-size: 30px;content: "** ";}
h4:before {vertical-align: sub;font-size: 30px;content: "*** ";}
h5:before {vertical-align: sub;font-size: 30px;content: "**** ";}
h6:before {vertical-align: sub;font-size: 30px;content: "***** ";}

h1 {position: relative;right: 30px;}
h2 {position: relative;right: 30px;}
h3 {position: relative;right: 40px;}
h4 {position: relative;right: 50px;}
h5 {position: relative;right: 60px;}
h6 {position: relative;right: 70px;}

p,dt,dl,dd,li {
    margin-top: 0.5em !important;
}

dl, li {
    padding-left: 1em !important;
}

div#content {
    margin: auto !important;
    width: 50%;
    max-width: 800px;
}

span.tag {
    float: right;
    background: none;
    color: #f00a;
    font-weight: bold;
}

h1 > span.tag {position: relative;left: 30px;}
h2 > span.tag {position: relative;left: 30px;}
h3 > span.tag {position: relative;left: 40px;}
h4 > span.tag {position: relative;left: 50px;}
h5 > span.tag {position: relative;left: 60px;}
h6 > span.tag {position: relative;left: 70px;}

h2, h2 > a {font-size: 25px !important;}
h3, h3 > a {font-size: 25px !important;}
h4, h4 > a {font-size: 25px !important;}
h5, h5 > a {font-size: 25px !important;}
h6, h6 > a {font-size: 25px !important;}

/*
.mjx-sub,mjx-sup {
    font-size: 10% !important;
}
*/

a {
    color: #333;
/*    font-weight: bold;*/
}

a:before {
    content: "[";
    color: #f00;
}

a:after {
    content: "]";
    color: #f00;
}

a:hover {
    background: #0005;
    color: #000;
}

table {
    margin: auto;
    width: 100%;
}

th, td {
    border: 1px solid black!important;
}

.org-left {
    text-align: left!important;
    padding-left: .25em !important;
}

.org-right {
    text-align: right!important;
    padding-right: .25em !important;
}

div#postamble {
    padding: 2em !important;
    text-align: center;
}

pre.example,
div.org-src-container {
    margin: 0.5em !important;
    padding: 0.5em !important;
    border-left: 0.25em solid black !important;
}

pre.src.src-c > span {
    color: #000 !important;
}

h1 a:before,
h1 a:after,
h2 a:before,
h2 a:after,
h3 a:before,
h3 a:after,
h4 a:before,
h4 a:after,
h5 a:before,
h5 a:after,
h6 a:before,
h6 a:after {
    content: "";
}
