body {
  margin: auto;
  width: 75%;
  max-width: 720px;
  background: #292d3e;
  color: #fff;
}

* {
  text-align: justify;
}

.todo {
  color: #F07178;
}

.done {
  color: #C3E88D;
}

a:hover {
  text-decoration: underline;
}

a {
  text-decoration: none;
}
