:root {
  --var-b0: #2e3440;
  --var-b1: #1e1e1e;
  --var-b2: #3b4252;
  --var-b3: #434c5e;
  --var-b4: #4c566a;
  --var-w3: #d8dee9;
  --var-w2: #e5e9f0;

  --var-w0: #eceff4;
  --var-w1: #f2f2f2;

  --var-m1: #8fbcbb;
  --var-m2: #88c0d0;
  --var-lblue: #81a1c1;
  --var-blue: #5e81ac;
  --var-red: #bf616a;
  --var-orange: #d08770;
  --var-yellow: #ebcb8b;
  --var-green: #a3be8c;
  --var-purple: #b48ead;
}

html {
  max-width: 720px;
  width: 70%;
  margin: auto;
  background: #eee;
  color: var(--var-b1);
}

a {
  text-decoration: none;
}

@media only screen and (min-width: 1080px) {
  :root {
    --font-size: 20px;
  }

  * {
    font-size: var(--font-size);
  }

  body {
    width: 720px !important;
  }


}
